{% extends "layout.html" %}

{% block title %}Reset Password - {% endblock %}

{% block body %}


<div class = "mainBlock2">
    <div class = "imgContainer">

        <div class = "formContainer">

            <h1 class = "heading">Reset Password</h1>

            <form class = "form" method = "POST">
                <h3 class = "formHeading">Enter your username, and we will send you a temporary password reset link</h3>            
                <input type = "text" name = "username" class="formText" placeholder="Username">
                
                <div class = "linkText"><p></p></div>

                <input type = "submit" value = "Reset Password" class="submitButton">
            </form>


        </div>
        
    </div>
</div>

{% endblock %}